.arrivals__title {
  display: inline-block;
  position: relative;
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 100px;
}
.arrivals__title::after {
  position: absolute;
  content: "";
  display: block;
  width: 190px;
  height: 32px;
  top: 30px;
  right: 0px;
  background-image: url("../../../img/btn.svg");
  z-index: -1;
}

.arrivals__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 130px;
}
