.social__title {
  font-size: 40px;
  font-weight: 800;
  color: #fff;
  margin-bottom: 30px;
}
.social__text {
  font-size: 20px;
  color: #8e8e8e;
  margin-bottom: 30px;
}
.social__meseng {
  display: flex;
  gap: 20px;
}
.social__img {
  cursor: pointer;
  border-radius: 30%;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: #fff 4px 2px 2px;
  }
}
