.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.title {
  font-weight: 700;
  font-size: 40px;
  @media (max-width: 1220px) {
    font-size: 30px;
  }
}
.nav_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;

  @media (max-width: 1220px) {
    gap: 30px;
  }
  @media (max-width: 870px) {
    gap: 18px;
  }
  @media (max-width: 710px) {
    display: none;
  }
}

.nav_link {
  color: black;
  font-size: 22px;
  transition: all 0.3s ease;
  &:hover {
    color: brown;
    text-decoration: underline;
  }
  @media (max-width: 1220px) {
    font-size: 18px;
  }
  @media (max-width: 870px) {
    font-size: 14px;
  }
}
.nav_link_sing {
  color: #ffffff;
  font-size: 24px;
  background-color: black;
  padding: 18px;
  border-radius: 8px;
  transition: all 0.3s ease;
  &:hover {
    /* color: brown; */
    background-color: brown;
  }
  @media (max-width: 1220px) {
    font-size: 18px;
    padding: 12px;
  }
}
